<h1>Edition du profil</h1>

<!-- form_for(@user), Rails utilise la requête POST si @user.new_record? est vrai (true) et la requête PUT si la méthode renvoie false. -->
<%= form_for(@user) do |f| %>	
	 <!-- Cette partie est commune pour le new et le edit donc on fait un partial et on envoie en parametre le formumaire -->
  	 <%= render 'fields' , :f => f  %>
	 <div class="actions">
	    <%= f.submit "Update" %>
	 </div>

<%end%>

<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails" target="_blank" >changer</a>
</div>