<h1>Inscription</h1>

<!-- méthode helper form_for -->
<%= form_for(@user) do |f| %>
  <!-- Cette partie est commune pour le new et le edit donc on fait un partial et on envoie en parametre le formumaire -->
  <%= render 'fields' , :f => f  %>
  <div class="actions">
    <%= f.submit "Inscription" %>
  </div>
<% end %>