<header>
   <%= render 'layouts/logo' %>    
	<nav class="round">
		<ul>
			<li><%= link_to "Accueil", root_path %></li>
			<li><%= link_to "Help", help_path %></li>
			<li><%= link_to "Inscription", signup_path %></li>
		</ul>
	</nav>
</header>